<br>
</br>
<br>
</br>
<div class="container panel panel-default">
  <p>
    <h3 class="panel-heading">Title : <%= @article.title %></h3>
  </p>
  <p>
    <h3 class="panel-heading">Text : <%= @article.text %></h3>
  </p>
  <h3 class="panel-heading">Comments:</h3>
  <div id="comments">
  	<%= render @article.comments %>
  </div>
  <h3 class="panel-heading">Add a comment:</h3>
  <%= render 'comments/form' %>
  <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary glyphicon glyphicon-edit" %> |
  <%= link_to 'Back', articles_path, class: "btn btn-primary glyphicon glyphicon-arrow-left" %>
</div>